# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Editor settings specific to one computer
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/